
 
/* Estilo para la clase box */ 
 
.box { 
    position: absolute; 
    top: 50%; 
    left: 50%; 

    width: 25%;
    transform: translate(-50%, -50%); 
    /* Dar tamaño a la ventana */ 
    /* width: min-content; 
    height: min-content;  */
    padding: 8px; 
    background: rgba(0, 0, 0, .8); 
    box-sizing: border-box; 
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5); 
    border-radius: 10px; 
    display: none;
} 

.box .encabezado {
    margin-top: 10px;
    text-align: center;
}
.box .encabezado i{
    
    font-size: 60px;
}

.box .cuerpo{
    margin: 10px 10px;
    color:white; 
    text-align: center
}
.box .pie{
    margin: 20px;
    
    display: flex;
    justify-content: space-evenly;
}
.box .pie .aceptar {
    display: inline-block;

}
