/* Para hacer reponsive */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Fondo interno estilo*/
body{
    margin: 0;
    padding: 200px;
    width: 200px;
    font-family: sans-serif;
    background-image: url("../img/minsal.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
/* Estilo para la clase box */
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}
/* Estilo para el titulo */
.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-style:italic;
}
/* Estilo para las cajas de texto clase inputBox */
.box .inputBox{
    position: relative;
    
}
.box .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
/* Estilo para los label inputBox */
.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 18px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 14px;
}
/* Estilos para el boton  */
.box input[type="submit"]{
    background: transparent;
    font-size: 16px;
    display: inline-block;
    border: none;
    outline: none;
    color: #fff;
    background: #29414d;
    padding: 10px 20px;
    margin-left: 35%;
    cursor: pointer;
    border-radius: 5px; 
    /* Sombra en el boton */
    text-decoration: none;
    box-shadow: 0px 0px 0px #29414d;
}
.box input[type="submit"]:hover{
    box-shadow: 0px 1px 0px #03a9f4;
}
.box input[type="submit"]:active{
    box-shadow: none;
}